.intro{
    width: 100%;
    height: 100vh;
    background-color: #808080;
    background: cover;
}
body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #333;
    line-height: 1.6;
}
*,
*:after,
*:before{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    display: flex;
  flex-direction: column;
}


/*
header
*/
.header{
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    z-index: 1000;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.nav{
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 100px;

}
.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;

    transition: color .2s linear;
}
.nav__link:hover{
    color: #531876;
}
.search{
  position: absolute;
  margin-left: 200px;
  border-style: hidden;
  font-style: italic;
  cursor: pointer;
}
.finder{
  position: absolute;
  margin-left: 349px;
  border-style: hidden;
  font-style: italic;
  cursor: pointer;


}
