<app-top-bar></app-top-bar>
<div class="container">
  <header class="header">
    <header class="header">
      <div class="container">
          <div class="header__inner">
              <nav class="nav">
                  <a [routerLink]="['/all']" routerLinkActive="active" class="nav__link" href="#">All</a>
                  <a [routerLink]="['/popular']" routerLinkActive="active" class="nav__link" href="#">Popular tracks</a>
                  <a [routerLink]="['/authors']" routerLinkActive="active" class="nav__link" class="nav__link" href="#">Authors</a>
                  <a [routerLink]="['/genre']" routerLinkActive="active" class="nav__link" href="#">Genre</a>
                  <input type="search" placeholder="Поиск" class="search">
                  <input type="submit" value="Найти" class="finder">
              </nav>
          </div>
      </div>
  </header>
</header>

</div>
<router-outlet></router-outlet>
