<div class="musics">
    <div  *ngif="music" >
        <div  class="button">{{ music.name }}
          
          <img class="image" src="{{music.img}}">
          <div class="author">{{music.author}}</div>
         <div class="genre">{{music.ganre}}</div>
         <div class="history">{{music.history}}</div>
         <div class="text">{{music.text}}</div>
         <div class="rating">{{music.rating}}</div>
         <div class="source">{{music.sources}}</div>
        </div>
 
    </div>
 </div>       
        
        