.musics{
  margin: 0 auto;
  /* position: absolute;
  right: 20px;
  left: 30px;
  top: 120px;
  font-size: 12pt;
   color: #531876;
  text-align: justify;
cursor: pointer;
/* display: flex; */
flex-direction: column;
text-decoration: none; 
padding-top: 5%;
color: #531876;
}
.button{
text-decoration: transparent ;
padding-left: 30%;
padding-top: 1%;
font-style: normal;
font-size: 1,5rem;
text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);

}
.history{
font-style: italic;
text-align: left;
width: 50%;
/* color: white ; */
padding-left: 30%;
padding-top: 1%;
}
.author{
padding-left: 30%;
padding-top: 1%;
font-style: italic;

}
.genre{
font-style: italic;
padding-left: 30%;
padding-top: 1%;
}

.text{
padding-left: 30%;
padding-top: 1%;
font-style: italic;
}

.rating{
padding-left: 30%;
padding-top: 1%;  
font-style: italic;
}
.image{
  /* margin: 0 auto; */
  font-size: 100pt;
  padding-left: 30%;
  size: unset;
  padding-block-end: 10%;
  font-style: italic;
}
.source{
padding-left: 30%;
padding-top: 1%;
font-style: italic;
}