<div class="dashboard">
    <div class="mainmenu">
        <mat-button-toggle-group class="buttons">
            <mat-button-toggle routerLink = "/">Главное</mat-button-toggle>
            <mat-button-toggle routerLink = "/products/">Каталог</mat-button-toggle>
            <mat-button-toggle routerLink = "/about-us/">О компании</mat-button-toggle>
            <mat-button-toggle routerLink = "/">Новинки</mat-button-toggle>
            <mat-button-toggle routerLink = "/contacts/">Контакты</mat-button-toggle>
            <mat-button-toggle routerLink = "/basket/">Корзина</mat-button-toggle>
            <mat-button-toggle routerLink = "/cabinet/">кабинет</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>
<router-outlet></router-outlet>
