.main{
  display: table;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10rem;
  margin: 1rem 1rem 3rem 1rem;
  padding-left: 30%;
  padding-block-start: 7%;
  /* padding-block-end: 10%; */
}
.main .button{
background: rgba(255, 255, 255, 0.589);
border-radius: 25px;
font-size: 15px;
padding: 1rem;
cursor: pointer;
width: 100%;  
/* padding-block-end: 10%; */
/* position: absolute; */
}
.main .active {
color: rgb(6, 155, 255);
background: #e4e4e4;
transition: 1s;
position: absolute;
padding-block-end: 0%;

}
.main .image{
  padding-top: 1rem;
  display: grid;
  justify-content: center;
  padding-block-end: 30%;
  padding-inline-end: 10%;
  /* padding-left: 30%; */

}